html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  padding-left: calc(100vw - 100%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #151515;
  font-family: Microsoft JhengHei;
}

.gameGround {
  width: 375px;
  height: 550px;
  border-radius: 0px;
  background: #c1ebff;
  background: -webkit-gradient(linear, left top, left bottom, from(#c1ebff), color-stop(66%, #e5f5ff), to(#ddf4ff));
  background: linear-gradient(to bottom, #c1ebff 0%, #e5f5ff 66%, #ddf4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1ebff', endColorstr='#ddf4ff',GradientType=0 );
  position: relative;
  border: 5px solid #151515;
  overflow: hidden;
}

.infoWell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 10%;
  border-radius: 0px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 5;
  font-size: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.infoWell h2 {
  padding: 30px;
}

.infoWell button {
  padding: 20px;
}

.fish {
  border-radius: 100px;
  z-index: 3;
  background-image: url(../../img/fool.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.shake {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.obstacle {
  border-left: 2px solid rgba(0, 0, 0, 0.6);
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  position: absolute;
  background: #1cf115;
  background: -webkit-gradient(linear, left top, right top, from(#1cf115), color-stop(43%, #dcfa9c), color-stop(53%, #9cf462), to(#1cf115));
  background: linear-gradient(to right, #1cf115 0%, #dcfa9c 43%, #9cf462 53%, #1cf115 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cf115', endColorstr='#1cf115',GradientType=1 );
}

.obstacle.obstacleTop > div, .obstacle.obstacleDown > div {
  border: 2px solid rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #13d00c;
  background: -webkit-gradient(linear, left top, right top, from(#13d00c), color-stop(35%, #d6f98b), color-stop(53%, #8cf347), to(#13d00c));
  background: linear-gradient(to right, #13d00c 0%, #d6f98b 35%, #8cf347 53%, #13d00c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13d00c', endColorstr='#13d00c',GradientType=1 );
  display: block;
  content: '';
  width: 60px;
  height: 35px;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: inset 2px 2px 10px #F8F9Fa;
          box-shadow: inset 2px 2px 10px #F8F9Fa;
}

.obstacle.obstacleDown .obstacleDownHead {
  top: 0;
  left: -7px;
  z-index: 3;
}

.obstacle.obstacleTop .obstacleTopHead {
  bottom: 0;
  left: -7px;
  z-index: 3;
}

.grade {
  padding: 20px;
  font-size: 20px;
  position: relative;
  z-index: 5;
  font-weight: 800;
}

.decoration {
  position: absolute;
  background-color: #fff;
  border-radius: 100px;
  overflow: hidden;
  -webkit-box-shadow: inset -20px -20px 0 rgba(0, 0, 0, 0.02);
          box-shadow: inset -20px -20px 0 rgba(0, 0, 0, 0.02);
}
/*# sourceMappingURL=main.css.map */